





*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.parent{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
}

.sidebar{
    height: 100%;
    width: 20%;
    background-color: rgb(97, 124, 75);
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 16px;
    padding-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;


    
}

.main{
    height: 100%;
    width: 79%;
    background-color: rgb(223, 223, 181);
    display: inline-block;
    overflow: auto;
    box-sizing: border-box;
    font-size: 16px;
    
    
}

.sidebar a{
    color: rgb(210, 216, 206);
}

.sidebar a:hover{
    color: rgb(80, 161, 47);
}

.sidebar img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid rgb(190, 206, 187);
    
}

.main{
    flex: 1;
    padding-top: 300px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 50p
    color rgb(48, 139, 63);

}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 50px;
    padding-top: 300px;
}


.social-icons{
    display: flex;
    align-items: center;
    gap: 20px;
    vertical-align: top;
}

.social-icons a {
    width: 50px;
    height: 50px;
    background-color: rgb(1, 7, 3);
    color: rgb(249, 250, 248);

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-radius: 50%;
    text-decoration: none;
}

.social-icons i {
    font-size: 24px;

}

.social-icons a:hover{
    background-color: rgb(88, 145, 105);
    
}




.my-skills {
     
       display: flex;
  flex-wrap: wrap;       
  max-width: 500px;      
  gap: 30px;             
  align-items: center;


}

.my-skills a {
     width: 50px;           
  height: 50px;
  object-fit: contain;   
  display: inline-block
  color rgb(88, 22, 22);

}

 .my-skills i {
     font-size: 60px;
     gap: 150px;
     color: rgb(106, 107, 103);
    
 }


.main {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main .heading-1 {
    color: rgb(53, 23, 133);

}

.main .h3 {
    color: rgb(103, 70, 192);

}

.main .experience {
    color: rgb(62, 27, 160);

}

.main .education {
    color: rgb(62, 27, 160);

}

.main .h2 {
    color: rgb(62, 27, 160);
}

.main .h1 {
    color: rgb(62, 27, 160);
}

.main .date {
    padding-left: 800px;
    padding-top: 150px;
    color: rgb(51, 45, 45);
}

.main p {
    color: rgb(27, 80, 45);
   
}

ul {
    color: rgb(27, 80, 45);
     
}

.workflow h3{
     color: rgb(62, 27, 160);
    
}

.workflow p {
    padding: 15px;
    color: rgb(27, 80, 45);
     font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.awards p {
    color: rgb(27, 80, 45);

}

.h3 {
    color:  color rgb(22, 8, 63);;
}



